@charset "utf-8";
#paragraph_1{
    text-align: center;
    color: aqua;
}

.center {
    text-align: center;
}

.middle-font-size {
    font-size: 16pt;
}

p.center {
    text-align:center;
}

img {
    border-radius: 8px;
}
img.item{
    border-radius: 8px;
    width: 250px;
    height: 250px;
}

img.top {vertical-align:text-top;}


table{

}

thead{
    color: red;
}
tfoot{
    color: green;
}
iframe{
    width: 100%;
    height: 300px;
}

.float-right{
    float: right;
}
.float-left{
    float: left;
}
.whitebg{
    border: 1px solid black;
    background-color: white;
}
.clear{
    clear: both;
}
.margin-top{
    margin-top: 5px;
}
.rect{
    width: 480px;
    height: 270px;
}
